<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="internal-nlog.txt">

	<!-- 定义变量 -->
	<variable name="logDir" value="${processdir}/Logs" />
	<variable name="logName" value="app" />

	<extensions>
		<!-- 加载自定义 Target -->
		<add assembly="ReeYin_V.Logger" />
	</extensions>

	<targets>
		<!-- 文件目标：按日期创建文件夹，按小时生成日志 -->
		<target xsi:type="File" name="file"
				fileName="${logDir}/${shortdate}/Hour_${date:format=HH}.log"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=ToString,StackTrace}"
				keepFileOpen="false"
				concurrentWrites="true"
				encoding="utf-8"
				createDirs="true"
				archiveNumbering="Date"
				archiveAboveSize="0"
				archiveEvery="Hour"
				maxArchiveFiles="168" />

		<!-- UI日志 Target -->
		<target xsi:type="WpfTextBox" name="ui"
				layout="${longdate} | ${level:uppercase=true} | ${message}" />
	</targets>
	<rules>
		<!-- 所有日志写入文件 -->
		<logger name="*" minlevel="Trace" writeTo="file" />

		<!-- 所有日志 >= Info 写到控制台 -->
		<logger name="*" minlevel="Info" writeTo="asyncConsole" />

		<!-- 所有日志写入 UI（大部分人用 Info 级别即可，如需 Debug 修改为 Trace） -->
		<logger name="*" minlevel="Info" writeTo="ui" />
	</rules>
</nlog>
