@font-face {
  font-family: "iconfont"; /* Project id 3772627 */
  src: url('iconfont.woff2?t=1780467354978') format('woff2'),
       url('iconfont.woff?t=1780467354978') format('woff'),
       url('iconfont.ttf?t=1780467354978') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quexianzonglan:before {
  content: "\e67c";
}

.icon-gaoduchaceliang-iconfont:before {
  content: "\e67b";
}

.icon-huitu1-iconfont:before {
  content: "\e679";
}

.icon-huitu2-iconfont:before {
  content: "\e67a";
}

.icon-line-scan-sheet-counter:before {
  content: "\e677";
}

.icon-a-shituhoushitu:before {
  content: "\e66a";
}

.icon-a-shituyangshitu:before {
  content: "\e66b";
}

.icon-a-shitufushitu:before {
  content: "\e66d";
}

.icon-a-shituzhushitu:before {
  content: "\e671";
}

.icon-a-shituzuoshitu:before {
  content: "\e674";
}

.icon-a-shituyoushitu:before {
  content: "\e675";
}

.icon-yingshebiaoding:before {
  content: "\e69b";
}

.icon-v1_v2_measure_icon:before {
  content: "\e669";
}

.icon-24gl-branches:before {
  content: "\e99b";
}

.icon-yewu_peifang:before {
  content: "\e683";
}

.icon-DefectPostProcessIcon:before {
  content: "\e668";
}

.icon-24gl-merge:before {
  content: "\eb70";
}

.icon-zhinengkeji-icon-18-copy:before {
  content: "\e667";
}

.icon-xinjiandianji:before {
  content: "\e6ac";
}

.icon-jixu:before {
  content: "\e7a3";
}

.icon-ziyuan:before {
  content: "\e666";
}

.icon-huisewenhaotubiao:before {
  content: "\e660";
}

.icon-chenggongtubiao:before {
  content: "\e661";
}

.icon-huabanfuben:before {
  content: "\e662";
}

.icon-danchuangtishigantanhaotubiao:before {
  content: "\e664";
}

.icon-danchuanggantanhaotubiao:before {
  content: "\e665";
}

.icon-quanxianguanli-:before {
  content: "\e65f";
}

.icon-quanxianxiugai:before {
  content: "\e6e8";
}

.icon-qiehuanyonghu:before {
  content: "\e6c6";
}

.icon-quanxianguanli:before {
  content: "\e65e";
}

.icon-yonghuguanli:before {
  content: "\e6aa";
}

.icon-edit:before {
  content: "\e6af";
}

.icon-jiaosexiugai:before {
  content: "\e6a3";
}

.icon-jiaoseguanli:before {
  content: "\e694";
}

.icon-mokuaiqiehuan:before {
  content: "\e659";
}

.icon-a-yuyanqiehuan-12-91:before {
  content: "\e65a";
}

.icon-a-3Dtu:before {
  content: "\e70e";
}

.icon-ai240:before {
  content: "\e6e4";
}

.icon-zhuxiaoguanji:before {
  content: "\e8d8";
}

.icon-chuanganqi:before {
  content: "\e6a2";
}

.icon-rengongzhinengicon:before {
  content: "\e657";
}

.icon-moxingxunlian:before {
  content: "\e658";
}

.icon-zhuanhuan2:before {
  content: "\e656";
}

.icon-kaifazheguanli:before {
  content: "\e644";
}

.icon-a-Operate-Group-1x-Flat:before {
  content: "\eae9";
}

.icon-saomashibie:before {
  content: "\e643";
}

.icon-xiangzuo:before {
  content: "\e63d";
}

.icon-xiangyou:before {
  content: "\e63f";
}

.icon-xiangshang4:before {
  content: "\e795";
}

.icon-xiangxia4:before {
  content: "\e796";
}

.icon-tuxiangyunsuan:before {
  content: "\e655";
}

.icon-tupianbianji:before {
  content: "\e63c";
}

.icon-mobanpipei:before {
  content: "\e654";
}

.icon-duodianbiaoding:before {
  content: "\e653";
}

.icon-nihexian:before {
  content: "\e65d";
}

.icon-quyumubiao:before {
  content: "\e723";
}

.icon-dianxianjuli:before {
  content: "\e63b";
}

.icon-diandianjuli:before {
  content: "\e62c";
}

.icon-xianxianjuli:before {
  content: "\e80f";
}

.icon-check:before {
  content: "\e784";
}

.icon-juxingceliang:before {
  content: "\e62b";
}

.icon-biaodingbanbiaoding:before {
  content: "\e7b3";
}

.icon-biaodingbanbiaoding1:before {
  content: "\e6d6";
}

.icon-zuobiaobiaoding:before {
  content: "\e627";
}

.icon-biaodingbanbiaoding2:before {
  content: "\e628";
}

.icon-erweima:before {
  content: "\e61e";
}

.icon-erweima1:before {
  content: "\e642";
}

.icon-blob:before {
  content: "\e870";
}

.icon-zuobiaoxi:before {
  content: "\e61f";
}

.icon-yanshi:before {
  content: "\e650";
}

.icon-erweima2:before {
  content: "\eaf1";
}

.icon-yanshi1:before {
  content: "\e622";
}

.icon-baocuntu:before {
  content: "\e620";
}

.icon-BLOB:before {
  content: "\e678";
}

.icon-xiugaitupian:before {
  content: "\e63a";
}

.icon-axes:before {
  content: "\e623";
}

.icon-zuobiaoxi1:before {
  content: "\e686";
}

.icon-zuobiao_zuobiaoxi:before {
  content: "\e743";
}

.icon-a-PLCinformationmanagement:before {
  content: "\e63e";
}

.icon-xiugaitupian1:before {
  content: "\e624";
}

.icon-yundongkongzhi:before {
  content: "\e670";
}

.icon-yundongkongzhi1:before {
  content: "\e625";
}

.icon-danzhoudianweiyundong-01:before {
  content: "\e626";
}

.icon-aislogo:before {
  content: "\e64e";
}

.icon-chazhaoyuan:before {
  content: "\e61d";
}

.icon-zhaoxian:before {
  content: "\e64f";
}

.icon-yunxing:before {
  content: "\e69a";
}

.icon-tiaojian:before {
  content: "\e6d8";
}

.icon-jieshu:before {
  content: "\e638";
}

.icon-while-:before {
  content: "\e614";
}

.icon-jieshu1:before {
  content: "\e6b2";
}

.icon-icon__tiaojian:before {
  content: "\e61a";
}

.icon-chushitiaojian:before {
  content: "\e616";
}

.icon-jieshu2:before {
  content: "\e617";
}

.icon-WHILE:before {
  content: "\e618";
}

.icon-jiaoben:before {
  content: "\e681";
}

.icon-jiaobenguanli:before {
  content: "\e698";
}

.icon-yunweijiaobenpingtai:before {
  content: "\e6b1";
}

.icon-shurukuangmorenguanbi:before {
  content: "\e636";
}

.icon-lianjie:before {
  content: "\e60e";
}

.icon-lianjie1:before {
  content: "\e647";
}

.icon-lianjie2:before {
  content: "\e6c8";
}

.icon-charulianjie:before {
  content: "\ec7f";
}

.icon-daoru:before {
  content: "\e635";
}

.icon-daochu:before {
  content: "\e634";
}

.icon-daochu1:before {
  content: "\eabf";
}

.icon-daoru1:before {
  content: "\eac0";
}

.icon-daoru2:before {
  content: "\e645";
}

.icon-daochu2:before {
  content: "\e646";
}

.icon-print:before {
  content: "\e641";
}

.icon-daochu3:before {
  content: "\e637";
}

.icon-jia:before {
  content: "\e609";
}

.icon-jia1:before {
  content: "\e60a";
}

.icon-jia2:before {
  content: "\e60b";
}

.icon-jian:before {
  content: "\e60c";
}

.icon-jia3:before {
  content: "\e65c";
}

.icon-jian1:before {
  content: "\e633";
}

.icon-jianhao:before {
  content: "\eaf5";
}

.icon-jian2:before {
  content: "\e66e";
}

.icon-jia4:before {
  content: "\e66f";
}

.icon-jian_sekuai:before {
  content: "\ed21";
}

.icon-haofangtuo400iconfontshaixuanzhedie:before {
  content: "\e693";
}

.icon-haofangtuo400iconfontshaixuanzhedieguanbi:before {
  content: "\e6dd";
}

.icon-caidan:before {
  content: "\e607";
}

.icon-shezhi1:before {
  content: "\e61c";
}

.icon-zuixiaohua:before {
  content: "\e676";
}

.icon-guanbi1:before {
  content: "\e632";
}

.icon-3zuidahua-3:before {
  content: "\e692";
}

.icon-chuangkouzuidahua:before {
  content: "\e65b";
}

.icon-chuangti-zuidahua:before {
  content: "\e606";
}

.icon-caiqutupian:before {
  content: "\e631";
}

.icon-xunhuan:before {
  content: "\e60f";
}

.icon-xunhuan1:before {
  content: "\e611";
}

.icon-xiangji1fill:before {
  content: "\e77e";
}

.icon-xiangji:before {
  content: "\e673";
}

.icon-huojian:before {
  content: "\e615";
}

.icon-baocun:before {
  content: "\e8c8";
}

.icon-dakaiwenjian:before {
  content: "\e64d";
}

.icon-yingjian:before {
  content: "\ec89";
}

.icon-yunhangyici:before {
  content: "\e66c";
}

.icon-wangkou:before {
  content: "\e603";
}

.icon-stop-circle:before {
  content: "\ea91";
}

.icon-yingjian1:before {
  content: "\e68a";
}

.icon-bianliang-bianliangming:before {
  content: "\e6db";
}

.icon-bianliang-xinzengbianliangshitu:before {
  content: "\e6dc";
}

.icon-fanganliebiao:before {
  content: "\e6ad";
}

.icon-wangkou2:before {
  content: "\e604";
}

.icon--_xinjianfangan:before {
  content: "\e6d1";
}

.icon-qidong2:before {
  content: "\e61b";
}

.icon-fuwei:before {
  content: "\e64c";
}

.icon-shuju:before {
  content: "\e639";
}

.icon-zhaoxiangji:before {
  content: "\e663";
}

.icon-shuju1:before {
  content: "\e761";
}

.icon-jiqi:before {
  content: "\e612";
}

.icon-jiqiren:before {
  content: "\e60d";
}

.icon-jiqi1:before {
  content: "\e640";
}

.icon-guanbi2:before {
  content: "\e75c";
}

.icon-wj-wjj:before {
  content: "\e7b9";
}

.icon-ceshi:before {
  content: "\e64b";
}

.icon-zhankai:before {
  content: "\e613";
}

.icon-a-zu3017:before {
  content: "\e6d5";
}

.icon-xiangmu:before {
  content: "\e652";
}

.icon-xinxi:before {
  content: "\e649";
}

.icon-gongcheng:before {
  content: "\e64a";
}

.icon-tiaoshi:before {
  content: "\eb61";
}

.icon-fuwei1:before {
  content: "\e601";
}

.icon-sousuo:before {
  content: "\e8b9";
}

.icon-zhankai-:before {
  content: "\e648";
}

.icon-xitongcaidan:before {
  content: "\e696";
}

.icon-kuaidi:before {
  content: "\e608";
}

.icon-caiwu-xianxing:before {
  content: "\e8ae";
}

.icon-kehu:before {
  content: "\e605";
}

.icon-haiyunyouxianquan:before {
  content: "\e878";
}

.icon-touchengkongyun:before {
  content: "\e8ad";
}

.icon-shanchu:before {
  content: "\e74b";
}

.icon-tianjia1:before {
  content: "\e630";
}

.icon-xiugai:before {
  content: "\e621";
}

.icon-tianjia:before {
  content: "\e62d";
}

.icon-tuichu:before {
  content: "\e651";
}

.icon-adjust:before {
  content: "\e994";
}

.icon-yanzhengma:before {
  content: "\e672";
}

.icon-mima:before {
  content: "\e7b8";
}

.icon-zhanghu:before {
  content: "\e610";
}

.icon-fanhui:before {
  content: "\e8a4";
}

.icon-jingwuicon_svg-:before {
  content: "\e602";
}

.icon-shengchan:before {
  content: "\e619";
}

.icon-buliang:before {
  content: "\e6b7";
}

.icon-shouye:before {
  content: "\e62f";
}

.icon-zanting:before {
  content: "\e629";
}

.icon-24gl-stopCircle:before {
  content: "\ea76";
}

.icon-shebei:before {
  content: "\e62e";
}

.icon-zuidahua:before {
  content: "\e600";
}

.icon-24gl-minimization:before {
  content: "\ea6a";
}

.icon-shezhi:before {
  content: "\e62a";
}

.icon-guanbi:before {
  content: "\eaf2";
}

